.one.column.row
  .error
    h3 #{T.t('something_broke')}
    img(src='img/sad.png')
    
    if window.error_message
      br
      span.message #{window.error_message}
    
    p
      | #{T.t('error_1')}
      br
      | #{T.t('error_2')}
      br
      | #{T.t('error_3')}
    p
      | #{T.t('error_4')}
    
    br
    button#open_log.ui.button.blue #{T.t('open_log')}
    button#upload_log.ui.button.green #{T.t('upload_log')}
