include ./_modals.jade

.one.column.row.optionsrow
  .column
    .browse_title
      span #{browse_title}
    .ui.fluid.action.input.lol_dir_input
      input#install_path(type='text')
      button#browse.ui.grey.button(type='button') #{T.t('browse')}
    br
    .lol_dir_input_msg
      span#input_msg

.one.column.row.optionsrow
  .column.options
    .rift_source
      .ui.fluid.multiple.search.selection.dropdown
        input#options_sr_source(type='hidden' value='#{selected_sources}')
        i.dropdown.icon
        .default.text #{T.t('summoners_rift_source')}
        .menu
          each source in sources
            .item(data-value='#{source.id}')
              img.sourceicon(src='img/sources/#{source.id}.png')  
              | #{source.name}
        
          
    .ui.checkbox.left
      input#options_aram(type='checkbox')
      label.options_tooltip(data-content="#{T.t('options_aram_tooltip')}") #{T.t('options_aram_tooltip')}
      
    br
  
    .ui.checkbox.left
      input#options_splititems(type='checkbox')
      label.options_tooltip(data-content="Champion.gg: #{T.t('options_splititems_tooltip')}") #{T.t('options_splititems')}
    
    br
    
    .ui.checkbox.left
      input#options_skillsformat(type='checkbox')
      label.options_tooltip(data-content="Champion.gg: #{T.t('options_skillsformat_tooltip')} Q.W.E.Q.W.R.Q.W.Q.W ect") #{T.t('options_skillsformat')} (Q>W>E)
    
    br
    
    .with_dropdown
      .ui.checkbox.left
        input#options_consumables(type='checkbox', checked='')
        label.options_tooltip(data-content="#{T.t('options_consumables_tooltip')}") #{T.t('options_consumables')}
      .ui.icon.bottom.right.pointing.dropdown.button
        i.small.wrench.icon
        #options_consumables_position.menu
          .header
            i.resize.vertical.icon
            | #{T.t('select_position')}
          .divider
          .item.beginning #{T.t('beginning')}
          .item.end #{T.t('end')}
  
    .with_dropdown
      .ui.checkbox.left
        input#options_trinkets(type='checkbox', checked='')
        label.options_tooltip(data-content="#{T.t('options_trinkets_tooltip')}") #{T.t('options_trinkets')}
      .ui.icon.bottom.right.pointing.dropdown.button
        i.small.wrench.icon
        #options_trinkets_position.menu
          .header
            i.resize.vertical.icon
            | #{T.t('select_position')}
          .divider
          .item.beginning #{T.t('beginning')}
          .item.end #{T.t('end')}
            
    .ui.checkbox.left
      input#options_locksr(type='checkbox')
      label.options_tooltip(data-content="#{T.t('options_locksr_tooltip')}") #{T.t('options_locksr')}
      
    br  
      
    .ui.checkbox.left
      input#options_dontdeleteold(type='checkbox')
      label.options_tooltip(data-content="#{T.t('options_dontdeleteold_tooltip')}") #{T.t('options_dontdeleteold')}

.one.column.row
  #btns_versions
    .submit_btns
      .ui.divider
      button#import_btn.ui.green.button #{T.t('import')}
      button#delete_btn.ui.red.button #{T.t('delete')}
    br
    .versions
      div
        | Item Sets #{T.t('version')}: 
        span#local_version #{T.t('unknown')}
      div
        | LoL #{T.t('version')}: 
        span#lol_version #{T.t('loading')}
        
      each source in sources
        div
          | #{source.name} #{T.t('version')}: 
          span(id="#{source.id}_version") #{T.t('loading')}
  
  
  #process_log.hidden
    .status
      .ui.horizontal.divider
        h2 #{T.t('status')}
      #itemsets_progress_bar.ui.indicating.progress(data-percent='0')
        .bar(style='transition-duration: 300ms; -webkit-transition-duration: 300ms;')
          .progress 0%
    
    
    .progresslog
      #cl_progress
